
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #ffff;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: #3C3A39;
  padding: 25px;
}

.dropdown{
  width: 24px;
  height: 24px;
  color: #ffff;
  background: inherit;
  border: none;
  font-size: large;
}

.headline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-color: #1C1A19;
  padding: 120px 24px;
}

.primary-text{
  margin: 0;
  color: #FF6B00;
  font-family: Crete Round, sans-serif;
  font-size: 56px;
}

.sub-text{
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FFF5E1;
}

.description{
  margin: 0;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

nav{
  display: flex;
  justify-content: center;
  gap: 8px;
}

a{
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: #FFF5E1;
  transition: transform 0.3s ease-in-out;
}

a:hover{
  transform: scale(1.1) rotate(360deg);
}
